.ui-slider a {outline:none;}
body,form,div,nav,footer,aside,article,section,header {margin: 0px; padding: 0px; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -webkit-text-size-adjust:none;}
* {-webkit-user-select: none; -webkit-text-size-adjust:none;}
ul,ol,li {margin: 0px; padding: 0px; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;}
body { text-align:center; font-family: "arial", arial, sans-serif; font-size: 14pt; line-height: 1.2em; color: #333; background-color: #666;}
#playerDisable {
    position: absolute;
    z-index: 101;
    margin: 0 auto;
    width: 100%;
    height: 671px;
    background-color: #000;
    opacity: 0.5;
}
#player {position: relative; margin: 0 auto; width: 100%; height: 596px; background-color: #fff; text-align:left;}
#helpCls {
    cursor: pointer;
    width: 283px;
    height: 55px;
    position: absolute;
    left: 362px;
    top: 253px;
    z-index: 210;
}
.orangeColor{
    color: #ee7624 !important;
}
#help { 
    z-index: 200; 
    display: none; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 1024px; 
    height: 671px; 
    background: url(images/help_screen.png) #fff no-repeat top center;  
}
#references { 
    z-index: 200; 
    display: none; 
    position: absolute; 
    width: 80%; 
    height: 430px; 
    top: 15%; 
    left:10%; 
    font-size:14px; 
    background: #fff;
    cursor: pointer;
}
.referenceHader{
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    float: left;
}
.headLebel{
    margin: 10px 20px; float: left;
}

#referencesClose {
    float: right;
    position: relative;
    right: 0px;
    width: 42px;
    height: 42px;
    top: 0px;
    background: #231e34;
    color: #fff;
    font-size: 24px;
    padding: 10px 12px;
}
#referencesWrapper {
    float: left;
    padding: 15px 15px;
}
#referencesWrapper ol,ul{
    padding:0px 0px 0px 20px; 
}
#referencesWrapper ol li{
    padding:8px 10px ; 
}
#modal-bg {display: none; position: absolute; z-index:50 ; top: 0; left: 0; width: 1024px; height: 643px; background-color: #ffffff; opacity: 0.6; filter: alpha(opacity=60);}
#modal-bookmark { z-index: 51; display: none; position: absolute; top: 0px; left: 0px; width: 1024px; height: 643px; background-image: url(images/modal-bg.png); }
#bookmark-msg {position: absolute; width: 420px; height: 130px; top: 250px; left: 280px; font-size: 12pt; text-align: center; }
#bookmark-msg button {width: 100px; height: 50px; margin: 10px; font-weight: bold; font-size: 12pt;}
#rotate {display: none;}
#nav {display: none; position: absolute; top: 594px; left: 0px; height: 55px; width: 100%; padding: 0px; text-align: center; z-index: 99;
    background: #231d35;
 }

#counter {
    display: block;
    padding: 0px 82px 0px 0px;
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 60px;
    height: 55px;
    background: #fff;
    z-index: 9;
    border-top: 1px solid #231d35;
    border-bottom: 1px solid #231d35;
    color: #ee7624;
}
#counter i{
    padding: 18px 27px;
}
#counterText{ 
    position: absolute;
    right: 254px;
    top: 16px;
    color: #333;
    font-size: 12px;
    background: #fff;
    border-radius: 10px;
    height: 24px;
    width: 90px;
}
#nav #prevbtn {position: absolute; right:369px; top:16px; color: #fff;}
#sliderOverlay{left: 295px;top: 19px;border: none; outline:none; width:300px;height: 35px; position:absolute;z-index:15;}
#nav #nextbtn {position: absolute; right: 215px; top:16px; color: #fff;}
#nav #pauseplaybtn {position: absolute; left:125px; top:16px; color: #fff;}
#nav #replaybtn {position: absolute; left:185px; top: 16px; color: #fff;}
#nav #popupbtn {position: absolute; left: 114px; top: 3px;}
#msg { display: none; 
    position: absolute;
    right: 10%;
    bottom: 1px;
    width: 300px;
    text-align: left;
    color: #ee7624;
    font-size: 13px;
    z-index: 3;
}
#nav #mutebtn{
    display:none; 
    left:250px; 
    top:7px;
    position:absolute;
    text-align: left;
    color: #fff;
}

#disclaimer { 
    position: absolute;
    left: 0px;
    top:649px;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 12px;
    background: #fff;
}
#topnav {
    display: none;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 46px;
    width: 100%;
    padding-right: 12px;
    overflow: hidden;
    background: #231d35;
}
#topnav .btn {
    float: right;
    margin: 8px 20px 0px 20px;
    width: 50px;
    height: 38px;
    text-align: center;
    color: #fff;
}
#topnav .btn span{
    font-size: 12px;
    position: relative;
    top: -6px;
}
#frame-title {   
    position: absolute;
    color: #231d35;
    z-index: 6;
    left: 0px;
    width: 100%;
    top: 48px;
    font-size: 12px;
    padding: 0px 32px 0px;
    border-bottom: 1px solid #DFDFDF;
}
#module-title{
    float: left;
    color: #fff;
    font-size: 16px;
    padding: 10px 31px;
}
#pdfcontent { display: none; position: absolute; font-size: 13px; text-align:left; font-weight: normal; color: #fff; line-height: 2.0; height: 44px; width: 182px; background-image: url(images/print.png); background-repeat: none; top: 50px; right: 16px; z-index: 20; padding: 17px 0px 0px 10px; }
#toc {
    background-color: #fefefe;
    bottom: 3px;
    display: none;
    font-size: 10pt;
    height: 250px;
    position: absolute;
    left: 0px;
    width: 450px;
    z-index: 20;
    border-radius: 0px 10px 0px 0px;
    border: 1px solid #ccc;
}

#toc a {
    line-height: 1.2em; 
    font-size: 12px; 
    display: block;  
    cursor: pointer; 
    box-sizing: border-box;
    background: #eee; 
    width: 100%; 
}

#toc .inactive{opacity : 0.4; filter:alpha(opacity=70); cursor:auto !important;}
#toc a div{
    float: left;
    width: 100%;
    height: 28px;
    padding: 7px 10px;
}
#toc a div:first-child{
    color: #fff;
    font-size: 14px;
    background: #909e9e;
}
.disabled {opacity: 0.6; filter: alpha(opacity = 60); pointer: none;}
.btn {cursor: pointer;} 
.btndwn {margin:0px;}
.jump {cursor: pointer;}
.frame {
    display: none;
    z-index: 6;
    position: absolute ;
    top: 0px;
    width: 100%;
    height: 648px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
#splash {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 628px;
    text-align: center;
    background: #fff;
}
#video-preload {z-index: 3; position: absolute; top: 120px; left: 0px; width: 1024px; height: 450px; text-align:center; background-color:#fff; color: #999;}
#video-loading {display: none; z-index: 5; position: absolute; top: 70px; left:16%; width: 1024px; height:500px; text-align:center; background-color:#fff; color: #999; padding: 200px 0 0 0;}
#video-intercept { z-index: 3; position: absolute; top: 120px; left: 0px; width: 1024px; height: 450px; background-image: url(images/dotclear.png);}
#video { z-index: 2; position: absolute; top: 71px; left: 0px; width: 100%; height:500px; text-align:center; background-repeat:no-repeat; overflow: hidden;background-color:#fff}
#loading { z-index: 10; position: absolute; top: 250px; left:40%; width: 300px; text-align:center;}
#debug {z-index: 30; display: none; line-height: 1em; position: absolute; left: 300px; top: 5px; line-height: 1.2em; font-size: 11px; text-align: left; border: 1px solid #666; width: 350px; padding: 5px; background-color: #fff;}
#glossary { 
    z-index: 200; 
    display: none; 
    position: absolute; 
    width: 80%; 
    height: 370px; 
    top: 15%; 
    left:10%; 
    font-size:14px; 
    background: #fff; 
}
.glossaryHeader{
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    float: left;
}
#glossary .close{
    float: right;
    position: relative;
    right: 0px;
    width: 42px;
    height: 42px;
    top: 0px;
    background: #231e34;
    color: #fff;
    font-size: 24px;
    padding: 10px 12px;
}
#glossary_letters ul{
    margin: 10px 15px;
    padding: 0px;
    float: left;
}

#glossary_letters li {
    float: left;
    list-style-type: none;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    width: 23px;
    height: 23px;
    margin: 0px 3px;
}
.letterSelect {
    background: red;
    color: white;
}
#glossary_list {
    float: left;
    width: 40%;
    height: 310px;
    border-right: 1px solid #d7d7d7;
    padding: 0px 15px 0px 15px;
    overflow: auto;
    margin-top: 10px;
}
#glossary a{
    display: block;
    padding: 1px 5px 5px 1px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
#glossary a.selected { color: red;}
.link_inactive{	
    color:#A9A9A9;
    background: #ddd;
}

#glossary h1 { 
    margin: 0px 0px 15px 0px; 
    color: red; 
    font-size: 18px;
}
#glossary_term{
    float: left;
    overflow: auto;
    width: 50%;
    padding: 10px 0px 0px 20px;
    color: #666;
}
.close {position: absolute; top: 9px; right: 10px; width: 100px; height: 35px; cursor: pointer;}

.quiz {     
    width: 100%;
    height: 502px;
    padding: 20px 40px;
    position: relative;
    background: #fff;
    margin: 0 auto;
    top:10px;
 }
.quiz .instructions { font-size: 12pt; margin: 0px 0px 10px 0px; color: #000; font-weight: bold;}
.quiz .stem { 
    font-family: "arial", arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    margin: 0px;
    background: #231d35;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.quiz ul { 
    margin: 0px;
    padding: 0px;
    background: #f3f3eb;
    border: 1px solid #c8c8c4;
    padding: 20px 0px 30px 50px;
    height: 400px;
 }
.quiz li { 
    position: relative; 
    margin: 10px 0px 3px -10px; 
    padding: 22px 5px 6px 55px;  
    height: 60px; 
    width: 56%; 
    background:url(images/quiz-choicebg.png) 20px no-repeat, #fff;  
    list-style-type:none; 
    font-size: 10pt; 
    line-height: 1em; 
    cursor: pointer;
    text-align: left;
    border: 2px solid #ee7624;
    border-radius: 10px;
    list-style: none;
}
.quiz li.selected {background: url(images/quiz-choicebg-selected.png) 20px no-repeat, #fff;}
.quiz .feedback {
    display: none;
    font-size: 10pt;
    height: 60px;
    line-height: 1.4em;
    padding: 20px 20px;
    position: absolute;
    color: #fff;
    right: 80px;
    top: 295px;
    width: 238px;
    background: #231d35;
    text-align: center;
    border-radius: 10px;
}
.quiz #quiz-submit {
    display: none;
    height: 40px;
    position: absolute;
    right: 114px;
    top: 416px;
    width: 157px;
}
.quiz .correct {position: absolute; top: 13px; left: 16px; width: 31px; height: 31px; background-image: url(images/quiz-choice-correct.png);  background-repeat:no-repeat;}
.quiz .incorrect {position: absolute; top: 13px; left: 16px; width: 31px; height: 31px; background-image: url(images/quiz-choice-incorrect.png)}


#transcript { 
    z-index: 9;
    display: none;
    position: absolute;
    bottom: 3px;
    right: 0px;
    width: 100%;
    height: 0px;
    text-align: left;
    font-family: "arial", arial, sans-serif;
    font-size: 10pt;
    line-height: 1.2em;
    color: #333;
 }
#transcript_btn {
    z-index: 6; 
    height:55px; 
    width:200px; 
    position: absolute; 
    bottom:0px; right:0px; 
    background: #fff; 
    border-top: 1px solid #231d35; 
    border-bottom: 1px solid #231d35;
    color: #333;
    font-size: 14px;
    padding: 16px 0px;
}
#transcript_btn i{
    position: relative;
    right: 10px;
    top: 1px;
}
#transcript_inner{ 
    display: none;
    width: 100%;
    height: 180px;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 15px 15px 0px 40px;
    border-top: 1px solid #231d35;
}
#transcript_inner .scrollbar {
    margin: 0px 0px 0px 0px;
    float: left;
    height: 150px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 25px;
}
#transcript_inner .force-overflow {
    min-height: 220px;
}

#popup { z-index: 200; display: none; position: absolute; top: 120px; left:158px; width: 674px; height: 376px; overflow: auto; background-image: url(images/information-bg.png); background-repeat:no-repeat;}
#popup_information { overflow: auto; line-height: 1.2em; font-size:10pt; text-align:left; position: absolute; top:50px; left:22px; width: 640px; height: 300px;}
#progresswrapper { position:relative; top:570px; left:0px; width:1024px; height:3px; z-index:10;}
#progressbar { display: none; position:absolute; height:3px; top: 0px; left:0px; width:0%; background-image:url(images/progressbar_repeat.gif); background-repeat:repeat-x; overflow:hidden}
sup, sub { font-size: 7pt; height: 0; vertical-align: baseline; _vertical-align: bottom; position: relative;}
sup { bottom: 1ex;}

#notesContent { display: none; position: relative; top: 100px; left: 150px; height: 364px; width: 650px; z-index: 51; background-image: url(images/notepad_bg.png);}
#notesContent textarea { position: absolute; resize: none; width: 550px; height: 250px; top: 60px; left: 50px; -webkit-user-select: text;}
#notesextbtn { position : absolute; top: 27px; left: 600px; cursor: pointer;}
#notesPrint { position: absolute; bottom: 18px; right: 50px; cursor: pointer;}

#truebtn { float: left; width: 140px; height: 120px; position: absolute; bottom: 10px; left: 10px; cursor: pointer;}
#falsebtn { float: right; width: 140px; height: 120px; position: absolute; bottom: 10px; right: 10px; cursor: pointer;}
#buzContinuebtn { display: none; position : absolute; top: 350px; left: 400px; cursor: pointer;}

#frameDisable { display: none; position: absolute; top: 87px; z-index:6; margin: 0 auto; width: 1024px; height: 422px; background-color: #ffffff; opacity: 0.6; filter: alpha(opacity=60);}

.pointer  {cursor: pointer;}

@media only screen and (orientation:portrait) {
  #rotate { 
    position: absolute;
    top: 500px;
    display: block;
    padding: 10px;
    width: 655px;
    height: 60px;
    font-size: 18pt;
    line-height: 1.2em;
    border: 4px solid #cc0000;
    background-color: #ffffff;
    left: 8%;
    z-index: 999;
  }
}

.loadingAudio { display:none; position: absolute; top: 390px; left: 400px; height: 20px; width: 150px;}
@-moz-document url-prefix() {.stem {font-weight: normal;} }


.scrollbar{    
    margin: 9px 0px 0px 0px;
    float: left;
    height: 235px;
    width: 98%;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: left;
	width:100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media (min-width: 768px)and (max-width: 1024px){
    .quiz li {
        width: 89%;
    }
    .quiz .feedback {
        height: 60px;
        padding: 20px 20px;
        right: 80px;
        top: 380px;
    }
    .quiz #quiz-submit {
        right: 114px;
        top: 450px;
    }
}